body {
    margin: 0;
    background: #0b0b0b;
    font-family: Arial, sans-serif;
    color: #e5e5e5;
}

.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #00ffcc;
    margin-bottom: 20px;
}

.login-box {
    background: #111827;
    padding: 40px;
    border-radius: 10px;
    border: 1px solid #2563eb;
    width: 350px;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: none;
    background: #1f2937;
    color: white;
}

.login-box input::placeholder {
    color: #9ca3af;
}

button {
    width: 100%;
    padding: 12px;
    background: #00ffcc;
    color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #00e6b8;
}

.back-btn {
    margin-top: 15px;
    background: #2563eb;
    color: white;
}

.error {
    color: #ff4d4d;
    margin-top: 10px;
    height: 20px;
}
